.media{
text-align: right;
font-size: 0;
}
.media li{
    font-size: 20px;
    display: inline-block;
}
.media li a{
margin: 10px;
    height: 50px;
    width: 50px;
    display: block;
}
.media li .facebook{
    background: url('../imager/css_sprites.png');
}
.media li .instagram{
    background: url('../imager/css_sprites.png') -50px;
}
.media li .telegram{
    background: url('../imager/css_sprites.png') -100px;
}
