.media{
text-align: right;
font-size: 0;
}
.media li{
    font-size: 20px;
    display: inline-block;
}
.media li a{
margin: 10px;
    height: 50px;
    width: 50px;
    display: block;
}
.media li .facebook{
    background: url('../imager/css_sprites.png') -80px -10px;
}
.media li .instagram{
    background: url('../imager/css_sprites.png') -290px -10px;
}
.media li .telegram{
    background: url('../imager/css_sprites.png') -500px -10px;
}
