.nav ul{
	list-style: none;
	text-align: center;
	font-size: 0;
	display: flex;
	justify-content: center;
}
.nav ul li{
	text-align: center;
	display: inline-block;
	font-size: 36px;
	background: skyblue;
	position: relative;
}
.nav li+li{
	border-left: 2px solid black;
}
.nav ul li:hover{
	background: blue;
}
.nav ul li a{
	text-decoration: none;
	color: black;
	text-transform: uppercase;
	display: block;
	padding: 10px 30px;
}
.nav ul ul{
	position: absolute;
	display: none;
	padding: 0;
	width: 100%;
}
.nav ul li:hover > ul{
	display: block;
}
.nav ul ul li{
	border: none;
	display: block;
	font-size: 28px;
	z-index: 5;
}
.nav ul ul li a{
	padding: 10px 0;
}
.nav ul ul ul.drop-left{
	position: absolute;
	top: 0;
	left: 100%;
}
.nav ul li ul li:hover ul{
	display: block;
}
.nav ul ul ul.drop-right{
	position: absolute;
	bottom: 0;
	right: 100%;
}
.nav>ul li a:before{
	content:"";
	width:50px;
	height: 50px;
	background: url(../imager/css_sprites.png);
	display: inline-block;
vertical-align: middle;
margin-right: 8px;
}
.nav>ul li:first-child a:before{
	background-position: -220px -10px;
}
.nav>ul li:nth-child(2) a:before{
	background-position: -150px -10px;
}
.nav>ul li:last-child a:before{display: none;}
.nav>ul li:last-child a:after{
	content: "";
	width: 50px;
	height: 50px;
	vertical-align: middle;
	background: url(../imager/css_sprites.png);
	background-position: -10px -10px;
	display: inline-block;
	margin-left: 8px;
}
.nav>ul li:last-child:hover a:after{
	background-position: -570px -10px;
}
.nav ul li ul li a:after{
	display: none;
}
