	html,body{
		scroll-behavior: smooth;
		}
	h1{
			color: aqua;
		}
		.basic{
			width: 1400px; margin: 0 auto 
		}
		.introduction{
			border: 5px solid lime;
		}
		.year{
			background: aqua;
		}
		h2{
			color: darkslategray;
			background: dodgerblue;
		}
		h3{
			color: maroon;
		}
		#history{
			border: solid green 5px;
		}
		.locationText{
			text-align: center;
		}
		.title{
			color: red;
		}
		.basic{
		width: 1000px; margin: 0 auto; 
	}
	.menu{
		background: yellow;
		top:50%;
		width: 200px;
		height: 300px;
		left: 0;
		position: fixed;
		border: 1px solid blue;
		font-size: 30px;
		text-align: center;
	}
	.img{
		position: relative;	
		display: inline-block;	
	}
	.text{
		background: 0 0 0 .5;
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		text-align: center;
		padding: 12px 0;
		font-size: 26px;
		margin-top: -27px; 
	}
		